# Exclude local virtual environments
.venv/
env/
venv/

# Exclude Python bytecode and cache
__pycache__/
*.pyc

# Exclude local database and secrets
db.sqlite3
#.env

# Exclude version control and IDE files
.git/
.gitignore
.vscode/
.idea/
