DEBUG=True
SECRET_KEY=django-secret-key

DB_NAME=analytics_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://redis:6379/0


EMAIL_HOST_USER=dassudip.info@gmail.com

# Mailtrap
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

# AWS SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=ap-south-1

FRONT_END_URL=http://localhost:3000